<div class="features__list__item clearfix">
    <div class="features__icon">
        <i class="ion {{icon}}"></i>
    </div>
    <div class="features__description">
        {{#if title}}
            <div class="features__title">{{title}}</div>
        {{/if}}
        {{#if subtitle}}
            <div class="">{{subtitle}}</div>
        {{/if}}
        {{#if content}}
            <div class="features__content">{{content}}</div>
        {{/if}}
    </div>
</div>
