<div class="section-title section-title--{{focusPart}}-word-focus">
    <span class="section-title__icon section-title__icon--left"></span>
    <span class="section-title__first-part">{{firstPart}}</span>
    <span class="section-title__last-part"> {{lastPart}}</span>
    <span class="section-title__icon section-title__icon--right"></span>
    {{#if subtitle}}
        <div class="section-title__subtitle">{{subtitle}}</div>
    {{/if}}
</div>
