<div class="section-title">
    <span class="section-title__icon section-title__icon--left"></span>
    <span class="section-title__first-word">{{firstWord}}</span>
    <span> {{restWords}}</span>
    <span class="section-title__icon section-title__icon--right"></span>
    {{#if subtitle}}
        <div class="section-title__subtitle">{{subtitle}}</div>
    {{/if}}
</div>
