@import "../placeholders";
@import "../mixins";

.features {
    $base-padding: 75px;
    $icon-font-size: 40px;
    $list-item-max-width: 320px;

    padding: $base-padding 0 0;
    position: relative;

    .section__inner {
        overflow: hidden;
    }

    &__list {
        @include breakpoint($md) {
            $min-font: 12px;
            $max-font: 16px;

            @include fluid-type($xs, $sm, $min-font, $max-font);
        }
        padding-top: 90px;
        padding-left: 15px;

        &__item {
            @include breakpoint($md) {
                max-width: none;
            }
            margin: auto auto 70px;
            max-width: $list-item-max-width;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__icon {
        @include breakpoint($md) {
            text-align: center;
        }
        @include breakpoint($xs) {
            text-align: left;
        }
        @include square_size($icon-font-size);
        width: 20%;
        display: block;
        font-size: em($icon-font-size);
        float: left;
    }

    &__description {
        width: 80%;
        float: right;
        display: block;
    }

    &__title {
        @extend .offerings__item__title;
        color: $background-color;
    }

    &__subtitle {
        @extend .offerings__item__subtitle;
    }

    &__ipad__wrapper {
        @extend .features__list;
        text-align: right;
        position: relative;
    }

    &__ipad {
        @extend %bg-image-contain;
        @include background-image('~assets/images/ipad.png');
        background-position: bottom right;
        width: 100%;
        height: em(539px);
        transform: translateY(10%);

        &--landscape {
            @include background-image('~assets/images/ipad-landscape.png');
            @include position($right: 5%, $bottom: -5%, $isAbsolute: true);
            height: em(392px);
            background-position: bottom center;
        }
    }
}
