@import "../placeholders";
@import "../mixins";

.features {
    $icon-font-size: 40px;
    $list-item-max-width: 320px;

    position: relative;

    .section__inner {
        overflow: hidden;
    }

    &__list {
        @include breakpoint($md) {
            $min-font: 12px;
            $max-font: 16px;

            @include fluid-type($xs, $sm, $min-font, $max-font);
        }
        padding-top: 90px;
        padding-left: 15px;
    }

    &__icon {
        @include breakpoint($md) {
            text-align: center;
        }
        @include breakpoint($xs) {
            text-align: left;
        }
        @include square_size($icon-font-size);
        width: 20%;
        display: block;
        font-size: em($icon-font-size);
        float: left;
    }

    &__title {
        color: $background-color;
    }

    &__ipad__wrapper {
        @extend .features__list;
        text-align: right;
        position: relative;
    }

    &__ipad {
        $height: 539px;
        $landscape-height: 392px;

        @extend %bg-image-contain;
        @include background-image('~assets/images/ipad.png');
        background-position: bottom right;
        width: 100%;
        height: em($height);
        transform: translateY(10%);

        &--landscape {
            @include background-image('~assets/images/ipad-landscape.png');
            @include position($right: 5%, $bottom: -5%, $isAbsolute: true);
            height: em($landscape-height);
            background-position: bottom center;
        }
    }
}
