<div class="features__list clearfix">
    {{> partials/_feature_item
        icon="desktop"
        title="Responsive & multipurpose"
        content="Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum."
    }}
    {{> partials/_feature_item
        icon="build"
        title="Easy customization"
        content="Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum."
    }}
    {{> partials/_feature_item
        icon="star"
        title="Unlimited features"
        content="Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum."
    }}
</div>
