<div class="features__list__item clearfix">
    <div class="features__icon">
        <i class="ion {{icon}}"></i>
    </div>
    <div class="features__description">
        <div class="features__title">{{title}}</div>
        <div class="features__subtitle">{{subtitle}}</div>
    </div>
</div>
