<div class="features__list clearfix">
    {{> _feature_item
        icon="ion-ios-desktop"
        title="Responsive & multipurpose"
        subtitle="Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum."
    }}
    {{> _feature_item
        icon="ion-ios-build"
        title="Easy customization"
        subtitle="Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum."
    }}
    {{> _feature_item
        icon="ion-ios-star"
        title="Unlimited features"
        subtitle="Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum."
    }}
</div>
