<div class="features section section--dark">
    <div class="section__inner">
        <div class="container">
            <i class="section__icon section__icon--rotated ion ion-ios-key"></i>
            <div class="row">
                <div class="col-sm-12">
                    {{> partials/_section_title
                        focusPart="second"
                        firstPart="Amazing"
                        lastPart="features"
                        subtitle="With unlimited features that we offer, we promise it’s possible to make everything that was impossible for you!"
                    }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-5 col-lg-4">
                    {{> partials/_feature_list}}
                </div>
                <div class="hidden-xs hidden-sm col-md-7 col-lg-8">
                    {{> partials/_features_ipad}}
                </div>
            </div>
        </div>
    </div>
</div>
