<%
/**
 * @typedef {Object} HtmlWebpackOptions
 * @property {{title: string}} options
 */
/**
 *  @member {HtmlWebpackOptions} htmlWebpackPlugin
 */
%>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="assets/images/icon.png" sizes="39x42>">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<%- require("html-loader!templates/header.ejs") %>
<%- require("html-loader!templates/hero.ejs") %>
</body>
</html>
