<!doctype html>
<html lang="en">
<head>
    {{> head/_head}}
</head>
<body>
{{> header/_header}}
{{> navbar/_navbar}}
{{> offerings/_offerings}}
{{> features/_features}}
{{> more-features/_more-features}}
</body>
</html>
