<!doctype html>
<html lang="en">
<head>
    {{> assets/templates/head/head}}
</head>
<body>
{{> assets/templates/header/header}}
{{> assets/templates/navbar/navbar}}
{{> assets/templates/offerings/offerings}}
</body>
</html>
