<div class="header section">
    <div class="header__background"></div>
    <div class="section__inner header__inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-8 col-lg-offset-0">
                    {{> partials/_subtitle_upper}}
                    {{> partials/_title}}
                    {{> partials/_subtitle_lower}}
                    {{> partials/_section_title
                        focusPart="first"
                        firstPart="Start"
                        lastPart="doing this"
                    }}
                    <div class="header__item header__scroll-icon"></div>
                </div>
            </div>
        </div>
    </div>
</div>
