<div class="header section">
    <div class="header__background"></div>
    <div class="section__inner header__inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-lg-offset-0">
                    {{> partials/subtitle_upper}}
                    {{> partials/title}}
                    {{> partials/subtitle_lower}}
                    {{> ../partials/section_title firstWord="Start" restWords="doing this"}}
                    <div class="header__item header__scroll-icon"></div>
                </div>
            </div>
        </div>
    </div>
</div>
