@import "../variables";
@import "../mixins";
@import "../placeholders";

.header {
    position: relative;
    font-family: $raleway;

    &__background {
        @extend %bg-image-cover;
        @include background-image("~assets/images/header-background.jpg");
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.5;
        filter: blur(2px);
    }

    &__item {
        color: $main-color;
        text-align: center;
    }

    &__title {
        @include position($top: -8px);
        @include tablet {
            font-size: 4.9em;
        }
        @include large_tablet {
            font-size: 5.8em;
        }
        @include desktop {
            font-size: 3.2em;
        }
        font-size: 2.6em;
        font-weight: 800;
    }

    &__scroll-icon {
        @extend %bg-image-cover;
        @include background-image("~assets/images/scroll-icon.png");
        @include tablet {
            width: 55px;
            height: 55px;
        }
        @include large_tablet {
            width: 60px;
            height: 60px;
        }
        width: 45px;
        height: 45px;
        margin: 2em auto auto;
        cursor: pointer;
        border-radius: 50%;
    }

    &__subtitle {
        @include tablet {
            font-size: 2em;
        }
        @include large_tablet {
            font-size: 1.8em;
        }
        font-size: 1em;
        font-weight: 500;

        &__inner {
            background-color: $main-color;
            display: inline-block;
            padding: 0.75em;
            border-radius: 3px;
        }

        &--lower {
            @include position($top: -12px);
            @include tablet {
                font-size: 1.25em;
                border-radius: 5px;
            }
            @include large_tablet {
                font-size: 1.5em;
                border-radius: 7px;
            }
            font-size: 0.85em;
            color: white;
            margin: 0 0 1em;
        }

        &__first-word {
            font-weight: 800;
        }
    }
}
