@import "../variables";
@import "../mixins";
@import "../placeholders";

.header {
    $background-opacity: 0.5;
    $background-blur: 2px;

    @extend %viewport-height;
    position: relative;
    font-family: $raleway;

    &__inner {
        @extend %vertical-center;
    }

    &__background {
        @extend %bg-image-cover;
        @include background-image("~assets/images/header-background.jpg");
        @include square_size(100%);
        position: absolute;
        opacity: $background-opacity;
        filter: blur($background-blur);
    }

    &__item {
        color: $main-color;
        text-align: center;
    }

    &__title {
        @include position($top: -8px);
        @include tablet {
            font-size: 4.9em;
        }
        @include large_tablet {
            font-size: 5.8em;
        }
        @include desktop {
            font-size: 3.2em;
        }
        font-size: 2.6em;
        font-weight: 800;
    }

    &__scroll-icon {
        @extend %bg-image-cover;
        @include background-image("~assets/images/scroll-icon.png");
        @include tablet {
            @include square_size(55px)
        }
        @include large_tablet {
            @include square_size(60px)
        }
        @include square_size(45px);
        margin: 2em auto auto;
        cursor: pointer;
        border-radius: 50%;
    }

    &__subtitle {
        @include tablet {
            font-size: 2em;
        }
        @include large_tablet {
            font-size: 1.8em;
        }
        font-size: 1em;
        font-weight: 500;
        border-radius: $base-border-radius;

        &__inner {
            background-color: $main-color;
            display: inline-block;
            padding: 0.75em;
            border-radius: $base-border-radius;
        }

        &--lower {
            @include position($top: -12px);
            @include tablet {
                font-size: 1.25em;
            }
            @include large_tablet {
                font-size: 1.5em;
            }
            font-size: 0.85em;
            color: white;
            margin: 0 0 1em;
        }

        &__first-word {
            font-weight: 800;
        }
    }
}
