@import "../variables";
@import "../mixins";

.header {
    position: relative;
    font-family: $raleway;

    &__background {
        //noinspection CssUnknownTarget
        background: url("~assets/images/header-background.jpg");
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 0.5;
        filter: blur(2px);
    }

    &__item {
        color: $main-color;
        text-align: center;
    }

    &__title {
        font-size: 2.6em;
        font-weight: 800;
        position: relative;
        top: -8px;

        @include tablet {
            font-size: 4.9em;
        }

        @include desktop {
            font-size: 5.8em;
        }

        @include large_desktop {
            font-size: 3.2em;
        }
    }

    &__scroll-icon {
        width: 45px;
        height: 45px;
        //noinspection CssUnknownTarget
        background: url("~assets/images/scroll-icon.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: auto;
        margin-top: 2em;
        cursor: pointer;
        border-radius: 50%;

        @include tablet {
            width: 55px;
            height: 55px;
        }

        @include desktop {
            width: 60px;
            height: 60px;
        }
    }

    &__subtitle {
        font-size: 1em;
        font-weight: 500;

        @include tablet {
            font-size: 2em;
        }

        @include desktop {
            font-size: 1.8em;
        }

        &__inner {
            background-color: $main-color;
            display: inline-block;
            padding: 0.75em;
            border-radius: 3px;
        }

        &--lower {
            font-size: 0.85em;
            color: white;
            margin: 0 0 1em;
            position: relative;
            top: -12px;

            @include tablet {
                font-size: 1.25em;
                border-radius: 5px;
            }

            @include desktop {
                font-size: 1.5em;
                border-radius: 7px;
            }
        }

        &__first-word {
            font-weight: 800;
        }
    }
}
