@import "../variables";
@import "../placeholders";
@import "../mixins";

.navbar {
    @include tablet {
        &-brand {
            display: none;
        }

        &-nav {
            @include flex-center;
            float: none !important;
        }
    }
    min-height: $navbar-min-height;
    padding-bottom: 20px;
    margin-bottom: 0;

    & .container {
        @include position($top: 25px)
    }

    &-brand {
        @extend %flex-center;
        padding: 0;
        margin-left: 15px;
    }

    &-nav {
        text-transform: uppercase;
        font-weight: 700;

        li.active a {
            background-color: $secondary-color !important;
            color: #ffffff !important;
            border-radius: 4px;
        }
    }
}
