<div class="skills__circle">
    <div class="circle__progress__overlay circle__progress__overlay--{{percent}}">
        <div class="circle__progress">
            <span class="circle__percent">{{percent}}<span class="circle__percent__sign">%</span></span>
        </div>
    </div>
    <div class="circle__title">{{title}}</div>
</div>
