<div class="row header__item header__subtitle header__subtitle--lower">
    <div class="header__subtitle__inner">
        <span class="header__subtitle__first-word">
            <span class="header__subtitle__first-word__first-letter">S</span><span>tartuprr,</span>
        </span>
        <span class="text-uppercase">NEXT GENERATION & HIGHLY FLEXIBLE WORDPRESS THEME</span>
    </div>
</div>
