// Colors
$main-color: #333333;
$secondary-color: #00a99d;

// Fonts
$raleway: 'Raleway', sans-serif;

// Sizes
$navbar-min-height: 100px;

// Breakpoints
$tablet-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1200px;
