// Colors
$main-color: #333333 !default;
$background-color: #f9f9f9 !default;
$secondary-color: #00a99d !default;
$secondary-text-color: #8a8a8a !default;

// Fonts
$raleway-font: 'Raleway', sans-serif;

// Breakpoints
$lg: 1200px;
$xmd: 1024px;
$md: 768px;
$xsm: 414px;
$sm: 375px;
$xs: 320px;

// Other
$base-border-radius: 4px !default;
$browser-context: 14;
$separator: 0.02px;
