// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~ionicons/dist/scss/ionicons";
// Helpers
@import "mixins";
@import "placeholders";
@import "functions";
@import "variables";
// Base components
@import "section/section";
@import "button/button";
// Components
@import "header/header";
@import "navbar/navbar";
@import "section_title/section_title";
@import "offerings/offerings";
@import "features/features";

html {
}

html,
body {
    width: 100%;
    height: auto;
    background-color: $background-color;
    font-size: $browser-context * 1px;
    font-family: $raleway-font;
}
