<div class="offerings section">
    <div class="section__inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {{> ../partials/section_title
                        firstWord="What"
                        restWords="we offer"
                        subtitle="We offer our customers the best services & solutions, this is our main services list"
                    }}
                </div>
            </div>
            <div class="row offerings__items">
                <div class="col-sm-12 col-md-12 col-lg-4 offerings__item">
                    <div class="offerings__item__icon"></div>
                    {{> partials/offerings_item_title title="Responsive & Multipurpose"}}
                    {{> partials/offerings_item_subtitle
                        subtitle="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid maxime numquam optio
                            quam velit vero, vitae! Accusantium corporis, dicta, dignissimos dolore dolores
                            doloribus est magnam modi necessitatibus nihil nostrum suscipit."
                    }}
                    {{> ../partials/button title="Read more" href="#"}}
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 offerings__item">
                    <div class="offerings__item__icon"></div>
                    {{> partials/offerings_item_title title="Easy Customization"}}
                    {{> partials/offerings_item_subtitle
                        subtitle="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid maxime numquam optio
                            quam velit vero, vitae! Accusantium corporis, dicta, dignissimos dolore dolores
                            doloribus est magnam modi necessitatibus nihil nostrum suscipit."
                    }}
                    {{> ../partials/button title="Read more" href="#"}}
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 offerings__item">
                    <div class="offerings__item__icon"></div>
                    {{> partials/offerings_item_title title="Awesome Friendly Support"}}
                    {{> partials/offerings_item_subtitle
                        subtitle="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid maxime numquam optio
                            quam velit vero, vitae! Accusantium corporis, dicta, dignissimos dolore dolores
                            doloribus est magnam modi necessitatibus nihil nostrum suscipit."
                    }}
                    {{> ../partials/button title="Read more" href="#"}}
                </div>
            </div>
        </div>
    </div>
</div>
