@import "../mixins";
@import "../placeholders";

.section {
    $icon-font-size: 26px;
    $icon-border-radius: 4px;
    $icon-square-size: 38px;

    width: 100%;
    position: relative;
    color: $main-color;

    &__inner {
        width: 100%;
    }

    &--dark {
        background-color: $main-color;
        color: $background-color;
    }

    &__icon {
        @include square_size(38px);
        @include position($top: 0, $left: 50%, $isAbsolute: true);
        transform: translateY(-50%) translateX(-50%) rotate(45deg);
        font-size: $icon-font-size;
        background-color: $secondary-color;
        border-radius: $icon-border-radius;

        &:before {
            @include position($top: 50%, $left: 50%, $isAbsolute: true);
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }
    }
}
