<div class="container-fluid">
    <div class="row">
        <div class="navbar">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand navbar__logo__link">
                            <img class="navbar__logo__link__img" src="../images/logo.png" alt="Startuprr">
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
