@import "../mixins";
@import "../variables";
@import "../placeholders";

.section-title {
    $section-font-weight: 800;
    $subtitle-font-weight: 600;
    $icons-size: 1em;
    $icons-aside-margin: 0.5em;

    @include tablet {
        font-size: 2em;
    }
    @include large_tablet {
        font-size: 2.5em;
    }
    text-align: center;
    text-transform: uppercase;
    font-weight: $section-font-weight;
    font-size: 1.8em;

    &__first-word {
        @extend %secondary-color;
    }

    &__subtitle {
        font-size: 0.65em;
        font-weight: $subtitle-font-weight;
        color: $secondary-text-color;
        text-transform: none;
        margin-top: 0.5em;
    }

    &__icon {
        @extend %bg-image-contain;
        @include position(-2px);
        @include background-image("~assets/images/title-shape.png");
        @include square_size($icons-size);
        display: inline-block;
        vertical-align: middle;

        &--left {
            margin-right: $icons-aside-margin;
        }

        &--right {
            margin-left: $icons-aside-margin;
            transform: rotate(180deg);
        }
    }
}
