@import "../variables";
@import "../placeholders";
@import "../mixins";

.offerings {
    $offerings-title-color: #606060;
    $offerings-icon-dimensions: 100px;
    $items-top-margin: 50px;
    $item-bottom-margin: 30px;
    $padding-top-bottom: 85px;

    padding: $padding-top-bottom 0 $padding-top-bottom;

    &__items {
        margin-top: $items-top-margin;
    }

    &__item {
        text-align: center;
        margin-bottom: $item-bottom-margin;

        &__icon {
            position: relative;
            color: $background-color;
            font-size: 2.6em;
            width: $offerings-icon-dimensions;
            height: $offerings-icon-dimensions;
            background-color: $main-color;
            border-radius: 50%;
            margin: auto auto $item-bottom-margin;
            text-align: center;

            &__wrapper {
                width: inherit;
                @extend %vertical-center;
            }
        }

        &__title {
            @extend .features__title;
            color: $features-title-color !important;
        }

        &__subtitle {
            @extend .features__content
        }
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__item:hover {
        & .offerings__item__icon {
            background-color: $secondary-color;
        }
    }
}
