<div class="more-features__list clearfix">
    {{> partials/_feature_item
        icon="desktop"
        title="Responsive & multipurpose"
        subtitle="Desktop, Tablets & Phones"
        content="Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum."
    }}
    {{> partials/_feature_item
        icon="cube"
        title="Easy customization"
        subtitle="One Click Demo Content Installation"
        content="Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum."
    }}
    {{> partials/_feature_item
        icon="star"
        title="Unlimited features"
        subtitle="Shortcodes, Typography & Different Layouts"
        content="Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum."
    }}
    {{> partials/_feature_item
        icon="list-box"
        title="Clean & modular coding"
        subtitle="100% Clean, Valid & Well-Commented Coding"
        content="Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum."
    }}
    {{> partials/_feature_item
        icon="cart"
        title="The best e-commerce solutions"
        subtitle="WooCommerce Fully Integration"
        content="Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum."
    }}
    {{> partials/_feature_item
        icon="help-buoy"
        title="Awesome friendly support"
        subtitle="Free Lifetime Support & Updates"
        content="Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum."
    }}
</div>
