<div class="more-features__list clearfix">
    {{> partials/_feature_item
        icon="ion-ios-desktop"
        title="Responsive & multipurpose"
        content="Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum."
    }}
    {{> partials/_feature_item
        icon="ion-ios-build"
        title="Easy customization"
        content="Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum."
    }}
    {{> partials/_feature_item
        icon="ion-ios-star"
        title="Unlimited features"
        content="Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum."
    }}
</div>
